body {
    margin: 0;
    padding: 0;
    background: rgb(70, 68, 68);
}

header {
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 120px;
}

header ul {
    margin-top: 30px;
}

header ul li {
    display: inline-block;
    list-style: none;
}

header ul a {
    text-decoration: none;
    margin: 8px;
    border: 2px solid rgb(78, 76, 76);
    padding: 10px;
    color: rgb(27, 26, 26);
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: bolder;
    shape-outside: #000;
    border-radius: 8px;
}

header ul a:hover {
    box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
}

form {
    position: relative;
    top: 20px;
    left: 10px;
    width: 1000px;
}

fieldset {
    width: auto;
    padding-top: 18px;
    padding-left: 18px;
    border-radius: 8px;
    border: solid 3px rgb(6, 247, 6);
}

label {
    display: inline-block;
    width: 130px;
    color: white;
    font-size: 12px;
    text-transform: uppercase;
}

input {
    display: inline-block;
    margin-bottom: 20px;
    border: none;
    border-radius: 4px;
    height: 25px;
}

input[type=text] {
    width: 700px;
}

input[type=email] {
    width: 700px;
}

input[type=password] {
    width: 280px;
    margin-right: 3px;
}

div {
    margin: 10px;
}

select {
    position: relative;
    left: -3px;
    width: 280px;
    background: #dbdbcf;
    height: 28px;
    margin-left: 0;
}

.but input[type=submit] {
    display: inline;
    height: 30px;
    text-transform: uppercase;
    font-weight: bolder;
    letter-spacing: 1.3px;
    background-color: rgb(21, 109, 21);
    color: white;
    margin: 10px;
}

.but input[type=reset] {
    display: inline;
    height: 30px;
    text-transform: uppercase;
    font-weight: bolder;
    letter-spacing: 1.3px;
    background-color: rgb(21, 109, 21);
    color: white;
    margin: 10px;
}

legend {
    text-transform: uppercase;
    font-size: 15px;
    color: white;
    letter-spacing: 3px;
    font-family: Arial, Helvetica, sans-serif;
}

.but {
    width: 100%;
    display: flex;
    justify-content: center;
}