body {
    margin: 0;
    padding: 0;
    background: rgb(70, 68, 68);
}

header {
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 120px;
}

header ul {
    margin-top: 30px;
}

header ul li {
    display: inline-block;
    list-style: none;
}

header ul a {
    text-decoration: none;
    margin: 8px;
    border: 2px solid rgb(78, 76, 76);
    padding: 10px;
    color: rgb(27, 26, 26);
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: bolder;
    shape-outside: #000;
    border-radius: 8px;
}

header ul a:hover {
    box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
}

form {
    position: relative;
    top: 20px;
    left: 20px;
    padding: 10px;
    width: 800px;
}

input {
    display: block;
    margin: 5px;
    width: 200px;
    background: #dbdbcf;
    height: 26px;
    border: none;
    border-radius: 4px;
}

input[type=password] {
    width: 200px;
    background: #dbdbcf;
}

input[type=text] {
    width: 580px;
    background: #dbdbcf;
}

input[type=email] {
    width: 480px;
    background: #dbdbcf;
}

input[type=submit] {
    display: inline;
    height: 30px;
    text-transform: uppercase;
    font-weight: bolder;
    letter-spacing: 1.3px;
    background-color: rgb(21, 109, 21);
    color: white;
}

input[type=reset] {
    display: inline;
    height: 30px;
    text-transform: uppercase;
    font-weight: bolder;
    letter-spacing: 1.3px;
    background-color: rgb(21, 109, 21);
    color: white;
}

select {
    display: block;
    width: auto;
    background: #dbdbcf;
    height: 25px;
    margin: 8px;
}

label {
    display: inline-block;
    width: 200px;
    text-transform: uppercase;
    color: white;
    letter-spacing: 3px;
    font-size: 16px;
}

fieldset {
    padding-top: 18px;
    padding-left: 18px;
    width: 90%;
    height: 450px;
    border-radius: 8px;
}

legend {
    text-transform: uppercase;
    font-size: 15px;
    color: white;
    letter-spacing: 3px;
    font-family: Arial, Helvetica, sans-serif;
}