body {
    margin: 0;
    padding: 0;
    background: rgb(70, 68, 68);
}

header {
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 150px;
}

header ul {
    margin-top: 30px;
}

header ul li {
    display: inline-block;
    list-style: none;
}

header ul a {
    text-decoration: none;
    margin: 8px;
    border: 2px solid rgb(78, 76, 76);
    padding: 10px;
    color: rgb(27, 26, 26);
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: bolder;
    shape-outside: #000;
}

header ul a:hover {
    box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 60%;
    background: rgb(255, 255, 255);
    width: 400px;
    height: 400px;
    transform: translate(-50%, -50%);
    padding-top: 30PX;
    opacity: 10;
    border-radius: 8px;
}

main {
    margin-top: 10px;
    background: white;
    height: 400px;
}

main form {
    position: relative;
    top: 20px;
}