body {
    margin: 0;
    padding: 0;
    background: rgb(70, 68, 68);
}

header {
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 120px;
}

header ul {
    margin-top: 30px;
}

header ul li {
    display: inline-block;
    list-style: none;
}

header ul a {
    text-decoration: none;
    margin: 8px;
    border: 2px solid rgb(78, 76, 76);
    padding: 10px;
    color: rgb(27, 26, 26);
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: bolder;
    shape-outside: #000;
    border-radius: 8px;
}

header ul a:hover {
    box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
}

form {
    position: relative;
    top: 20px;
    left: 10px;
    width: 800px;
    height: auto;
}

fieldset {
    width: auto;
    padding-top: 18px;
    padding-left: 18px;
    border-radius: 8px;
    border: solid 3px rgb(6, 247, 6);
}

label {
    display: inline-block;
    width: 150px;
    color: white;
    font-size: 12px;
    text-transform: uppercase;
    margin-left: 5px;
    margin-top: 10px;
}

textarea {
    display: inline-block;
    margin-bottom: 40px;
    margin-top: 20px;
}

input[type=text] {
    width: 200px;
    position: relative;
    left: -60px;
    margin: 10px;
}

#date1 {
    position: relative;
    left: -45px;
    width: 150px;
    height: 25px;
}

input[type=date] {
    width: 150px;
    height: 25px;
    margin-bottom: 20px;
}

input[type=file] {
    display: inline-block;
    height: 25px;
    margin-bottom: 20px;
    position: relative;
    left: -210px;
    color: white;
    letter-spacing: 3px;
    font-family: Arial, Helvetica, sans-serif;
}

select {
    display: inline-block;
    position: relative;
    left: -90px;
    height: 25px;
}

#label {
    position: relative;
    left: -160px;
}

input[type=submit] {
    display: inline;
    height: 30px;
    margin-right: 10px;
    text-transform: uppercase;
    font-weight: bolder;
    letter-spacing: 1.3px;
    background-color: rgb(21, 109, 21);
    color: white;
    border-radius: 5px;
}

input[type=reset] {
    display: inline;
    height: 30px;
    text-transform: uppercase;
    font-weight: bolder;
    letter-spacing: 1.3px;
    background-color: rgb(21, 109, 21);
    color: white;
    border-radius: 5px;
}

legend {
    text-transform: uppercase;
    font-size: 15px;
    color: white;
    letter-spacing: 3px;
    font-family: Arial, Helvetica, sans-serif;
}